[user]
	name = "ammix"
	email = "maxim@ammix.dev"
	signingKey = "key::ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKGxbPlDp/9pyWuI34iZg18ooUjeM4slGu3zPdfDy93V"

[gpg]
	format = "ssh"

[gpg "ssh"]
	program = "{{ if eq .chezmoi.os "darwin" }}/Applications/1Password.app/Contents/MacOS/op-ssh-sign{{ else }}/usr/libexec/op-ssh-sign{{ end }}"

[commit]
	gpgSign = true
	verbose = true

[tag]
	gpgSign = true
	sort = "-version:refname"

[core]
	compression = 9

[init]
	defaultBranch = "main"
	templateDir = "{{ .chezmoi.homeDir }}/.config/git/template"

[branch]
	sort = "-committerdate"

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[rebase]
	autoStash = true

[rerere]
	autoUpdate = true
	enabled = true

[maintenance]
	auto = true
	strategy = "incremental"

[status]
	branch = true

[column]
	ui = "auto"

[color]
	branch = "auto"
	diff = "auto"
	interactive = "auto"
	status = "auto"
	ui = true

[merge]
	tool = meld

[interactive]
	diffFilter = "diff-so-fancy --patch"

[pager]
	diff = "diff-so-fancy | less '--tabs=4' -RFX"
	log = "diff-so-fancy | less '--tabs=4' -RFX"
	show = "diff-so-fancy | less '--tabs=4' -RFX"

[help]
	autocorrect = "immediate"

[alias]
	abandon = "!git reset --hard HEAD~1 && git clean -fd"
	graph = "log --all --graph --decorate --oneline"
	l = "log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"

[credential "https://github.com"]
	helper = ""
	helper = "!gh auth git-credential"

[credential "https://gist.github.com"]
	helper = ""
	helper = "!gh auth git-credential"

[url "git@github.com:"]
	insteadOf = "https://github.com/"

[filter "lfs"]
	clean = "git-lfs clean -- %f"
	process = "git-lfs filter-process"
	required = true
	smudge = "git-lfs smudge -- %f"
