layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
    }
    tab name="editor" focus=true {
        pane command="fish" {
            args "-c" "if test -f Session.vim; nvim -S Session.vim; else; nvim .; end"
        }
    }
    tab name="shell" {
        pane
    }
}
